# Task 1

a)

In [ ]:
def factorial(n):
    if n > 1:
        return n * factorial(n-1)
    return 1

factorial(4)

24

b)

In [ ]:
def fibonacci(n):
    if n > 1:
        return fibonacci(n-1) + fibonacci(n-2)
    return n

fibonacci(7)

# for i in range(12):
#     print(fibonacci(i), end=' ')

13

c)

In [ ]:
def array(arr, idx):
    if idx < len(arr):
        if idx == len(arr)-1:
            print(arr[idx])
        else:
            print(arr[idx], end=", ")
        return array(arr, idx + 1)
array([0,1,2,3,4,5,6,7,8], 0)

0, 1, 2, 3, 4, 5, 6, 7, 8

d)

In [ ]:
def powerN(base, n):
    if n == 0:
        return 1
    else:
        return base * powerN(base, n-1)
powerN(3, 3)

27

# Task 2

a)

In [ ]:
def dec_to_bin(num):
    if num > 1:
        a = num // 2
        dec_to_bin(a)

    print(num % 2, end = "")

dec_to_bin(255)

11111111

Linked List Creation:

In [ ]:
class Node:
  def __init__(self, e, n):
    self.element = e
    self.next = n

In [ ]:
class LinkedList:

  def __init__(self, a):
    self.head = None
    if type(a) == list:
        self.head = Node(a[0], None)
        tail = self.head
        for i in range(1, len(a)):
            n = Node(a[i], None)
            tail.next = n
            tail = tail.next
    else:
        self.head = a

  def getHead(self):
    return self.head

In [ ]:
ll1= LinkedList([5,10,15,-5,12])
head= ll1.getHead()

b)

In [ ]:
def add_elem_of_linked_list(head):
    if head == None:
        return 0
    else:
        return head.element + add_elem_of_linked_list(head.next)
add_elem_of_linked_list(head)

37

c)

In [ ]:
def ReverseListPrint(head):
  if head!=None:
    ReverseListPrint(head.next)
    print(head.element)

ReverseListPrint(head)

12
-5
15
10
5

# Task - 3

In [ ]:
def hocBuilder(height):
    if height == 0:
        return 0
    elif height == 1:
        return 8
    else:
        return 5 + hocBuilder(height - 1)

hocBuilder(4)

23

# Task - 4

a)

In [2]:
def pattern(n, counter):
    if counter != n:
        def printnumbers(n, counter, number=0):
            if number == counter + 1:
                print()
                return
            else:
                print(number + 1, end=" ")
                printnumbers(n, counter, number + 1)

        printnumbers(n, counter)
        pattern(n, counter + 1)
    return

pattern(5,0)

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

b)

In [ ]:
def pattern(n, counter):
    if counter == None:
        counter = n
    if n > 0:
        def printspaces(number, count=1):
            if count < number:
                print(" ", end=" ")
                printspaces(number, count + 1)

        def printnumbers(number, count=1):
            if count < number + 1:
                print(count, end=" ")
                printnumbers(number, count + 1)

        printspaces(n)
        printnumbers(counter - n + 1)
        print()
        pattern(n - 1, counter)
pattern(5,5)

        1
      1 2
    1 2 3
  1 2 3 4
1 2 3 4 5

# Task - 5

In [ ]:
class FinalQ:
    def print(self,array,idx):
        if(idx<len(array)):
            profit = self.calcProfit(array[idx])
            print(f"{idx+1}. Investment: {array[idx]}; Profit: {profit}")
            self.print(array, idx+1)

    def calcProfit(self,investment):
        if investment <= 25000:
            return 0
        elif 25000 < investment <= 100000:
            return 45.0 + self.calcProfit(investment - 1000)
        elif investment > 100000:
            return 80.0 + self.calcProfit(investment - 1000)

#Tester
array=[25000,100000,250000,350000]
f = FinalQ()
f.print(array,0)

1. Investment: 25000; Profit: 0
2. Investment: 100000; Profit: 3375.0
3. Investment: 250000; Profit: 15375.0
4. Investment: 350000; Profit: 23375.0

# Updated New Task

# Task - 01

In [ ]:
def flattenList(given_list, output_list):
    if len(given_list) == 0:
        return None
    elif type(given_list[0]) == list:
        flattenList(given_list[0], output_list)
        flattenList(given_list[1:], output_list)
    else:
        output_list.append(given_list[0])
        flattenList(given_list[1:], output_list)
    return output_list

#print(flattenList([1, [2, [3, [4], 5], 6], 7, 8, [9, [[10, 11], 12], 13], 14, [15, [16, [17]]]]))
given_list = [1, [2, [3, [4], 5], 6], 7, 8, [9, [[10, 11], 12], 13], 14, [15, [16, [17]]]]
output_list = flattenList(given_list, [])
print(output_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17]